env/
venv/
*.pyc
*.pyo
__pycache__/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.log

db.sqlite3

*/migrations/*.py
!*/migrations/__init__.py

dist/
build/
*.spec

*.env
.env

*.pem
*.key


*.egg-info/
